
.header_logo img{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.header_pages{
   text-align: center; 
}
.header_link {
    color: black;
    text-decoration: none;
    padding-left: 40px;
   
}
.header_link:hover,
.header_link:focus{
    color: greenyellow;
}
/* SOCIAL LIST */
/* .social_list{
 width: 250px;
 height: 90%;
  position: fixed;
  z-index: 1;
  top: 300px;
  right: 10px;
  background-image:url(../img/socbgr.PNG);
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding: 10px ;
} */

/* FEED */
.main_feed{
    width: 70%;
    display: block;
    text-align: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
#more {display: none;}

/* MUST READ */
.must_read{
    width: 30%;
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;  
}
.must_read:hover,
.must_read:focus{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.new_feed_img{
    width: 200px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.new_feed_p{
    padding-left: 20px;
    padding-right: 20px;
}
.new_feed_title{
    text-align: center;
}
/* NEWS PAGE */

.news_img{
    display: block;
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}
.news_posts{
    width: 30%;
    display: inline-block;
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;   
}
.news_posts:hover,
.news_posts:focus{
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}
.news_post_title{
    text-align: center;
}
.news_post_img{
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.news_post_p{
    padding-left: 20px;
}