html {
    box-sizing: border-box;
  }
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  img {
    display: block;
  max-width: 100%;
    height: auto;
  }
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .conteiner {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .listt {
    margin: 0px;
    padding: 0px;
  }
/* HEADER */
.header-menu{
   height:72px;
    display: flex;
  flex-wrap: wrap;
   background-color: rgba(240, 230, 140, 0.486);
   margin: 0px;
   justify-content: space-around;
align-items: center;
    

}
.header-menu__logo{
display: flex;

font-size: 25px;
    color: black;
}
.header-menu__items{
display: flex;
}
.header_link a{
    font-size: 13px;
    color: black;
    padding-right: 10px;
} 
.header-menu__media{
    display: flex;
}
.header-menu__media a{
    padding-left: 25px;
}

/* HERO */
.hero {
  display: flex;
  height: 500px;

  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
  background-image: 
    url(../img/logo.png);
    background-color: #fff;
    border: transparent;
}
.hero__container {
  max-width: 700px;
  margin: auto;
}
.hero__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  text-align: center;
  align-items: center;
  border: transparent;
  margin-bottom: 0px;
 

  font-size: 15px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  background-color:  rgb(240, 230, 140);
  border-color: chartreuse;
}
  

/* INTERESTING */
.i_post{
  height: 300px;
    background-color: rgba(240, 230, 140, 0.486);
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.i_post__ul{
    display: flex;
   position: absolute;
    justify-content: flex-end;
   
}
.i_post__title{
    font-size: 30px;
    padding-left: 30px;
  }

.i_post__li{
    display: block;
    position: relative;
    width: calc(50% / 3);
    margin-right: 30px;
}
.i_post__li:hover,
.i_post__li:active{
  box-shadow: 25px 13px 74px -17px rgba(116, 221, 65, 0.74);
}

.i_post__img{
  position: absolute;
  width: 100%;
  margin-right: 50px;
}
.i_post__text{
    position: relative;
    background: white;
    padding: 15px;
	  left: 0%;
    top: 80%;
}
	
.i_post__card_title{
   font-size: 15px;
}
.i_post__card_p{
   font-size: 10px;
}

/* NEWS */
.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.news__title{
  font-size: 30px;
  text-align: center;
  color: black;
}
.news__card{
  margin: 50px;
}
.news__card-li{
  display: inline-flex;
  flex-wrap: wrap;
  width: 20%;
  margin: 10px;
  padding: 10px;
  background-color:  rgba(240, 230, 140, 0.486);
}
.news__card-li:hover,
.news__card-li:focus{
  box-shadow: 25px 13px 74px -17px rgba(116, 221, 65, 0.74);
}
.news__card-p{
  position: relative;
  text-align: center;
  color: black;
  font-size: 15px;
}

/* PODCAST */
.podcast{
  margin-top: 50px;
  margin-bottom: 50px;
}

.podcast__h{
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 30px;
}


.podcast__p{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}
.podcast__buton_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.podcast__buton{
  
align-items: center;
  font-size: 15px;
  width: 100px;
  height: 50px;
  font-size: 15px;
  line-height: 1.87;
  text-decoration: none;
  border-radius: 4px;
  background-color:  rgb(240, 230, 140);
  border-color: chartreuse;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  text-align: center;
  border: transparent;
}

/* FOOTER */
.footer{
  display: flex;
  justify-content: start;
  align-items: center;
  height: 220px;
  padding: 20px;
 
  background-color:  rgba(240, 230, 140, 0.486);
}

.footer_link{
  padding-bottom: 10px;
  
}
.footer-menu__media{
  margin-left: 30px;
}
.footer-menu__media a{
display: inline-flex;
justify-content:center;
padding-left: 20px;


}